Repository inspec/inspec-azure, pull requests merged in 2022-11, with the labels that each got.

#685 RESOURCE-529 azure Microsoft Defender for Cloud Resource Settings and Security Contact
  libraries/azure_microsoft_defender_security_contact.rb
  libraries/azure_microsoft_defender_setting.rb
  libraries/azure_microsoft_defender_settings.rb
  test/integration/verify/controls/azure_microsoft_defender_pricing_setting.rb
  test/integration/verify/controls/azure_microsoft_defender_pricing_settings.rb
  test/integration/verify/controls/azure_microsoft_defender_security_contact.rb
Labels: azure

#674 RESOURCE-505 Soumyo/azure blob service
  docs-chef-io/content/inspec/resources/azure_blob_service.md
  docs-chef-io/content/inspec/resources/azure_blob_services.md
  libraries/azure_blob_service.rb
  libraries/azure_blob_services.rb
  terraform/outputs.tf
  test/integration/verify/controls/azure_blob_service.rb
  test/integration/verify/controls/azure_blob_services.rb
  test/unit/resources/azure_blob_service.rb
  test/unit/resources/azure_blob_services.rb
Labels: azure, Feature Request, Documentation, ReadyForDocs

#671 adding resource for azure snapshots
  libraries/azure_snapshot.rb
  libraries/azure_snapshots.rb
  test/unit/resources/azure_snapshot_test.rb
  test/unit/resources/azure_snapshots_test.rb
Labels: azure

#688 RESOURCE-530 stack-version-provide-ambiguous-information-on-installed-php-app
  libraries/azure_webapp.rb
Labels: WIP

#689 RESOURCE-531-verify-that-the-inbound-port-rules-does-not-have-a-rule-for-http
  libraries/azure_network_security_group.rb
Labels: azure

#682 RESOURCE-514 create the required files of the azure snapshot resource
  docs-chef-io/content/inspec/resources/azure_snapshot.md
  docs-chef-io/content/inspec/resources/azure_snapshots.md
  terraform/azure.tf
  terraform/outputs.tf
  test/integration/verify/controls/azure_snapshot.rb
  test/integration/verify/controls/azure_snapshots.rb
Labels: Feature Request, Documentation, ReadyForDocs

#661 Resource 308 support CDN Profiles
  docs-chef-io/content/inspec/resources/azure_cdn_profile.md
  docs-chef-io/content/inspec/resources/azure_cdn_profiles.md
  docs-chef-io/tools/vale/chef/acronyms.yml
  libraries/azure_cdn_profile.rb
  libraries/azure_cdn_profiles.rb
  terraform/azure.tf
  terraform/outputs.tf
  test/integration/verify/controls/azure_cdn_profile.rb
  test/integration/verify/controls/azure_cdn_profiles.rb
  test/unit/resources/azure_cdn_profile_test.rb
  test/unit/resources/azure_cdn_profiles_test.rb
Labels: Documentation, ReadyForDocs

#699 RESOURCE-538 Fix config cache and also fixed the lint errors
  Rakefile
  libraries/azure_mysql_database_configuration.rb
  libraries/azure_mysql_database_configurations.rb
  libraries/backend/azure_connection.rb
  test/integration/verify/controls/azure_mysql_database_configuration.rb
  test/integration/verify/controls/azure_mysql_database_configurations.rb
  test/unit/resources/azure_microsoft_defender_pricing_test.rb
  test/unit/resources/azure_microsoft_defender_pricings_test.rb
  test/unit/resources/azure_microsoft_defender_security_contact_test.rb
  test/unit/resources/azure_microsoft_defender_setting_test.rb
  test/unit/resources/azure_microsoft_defender_settings_test.rb
  test/unit/resources/azure_mysql_database_configuration_test.rb
  test/unit/resources/azure_mysql_database_configurations_test.rb
  test/unit/resources/azure_snapshot_test.rb
  test/unit/resources/azure_sql_database_server_vulnerability_assessments_test.rb
Labels: azure
