Repository inspec/inspec-azure, pull requests merged in 2023-02, with the labels that each got.

#713 RESOURCE-590 Create the integration tests for azure_power_bi_generic_resources resource
  test/integration/verify/controls/azure_power_bi_generic_resources.rb
Labels: WIP, tech-debt

#711 Resource 585 create the integration test for azure graph generic resource and azure lock resources
  libraries/azure_key_vault_rotation_key.rb
  test/integration/verify/controls/azure_graph_generic_resources.rb
  test/integration/verify/controls/azure_lock.rb
Labels: azure, tech-debt

#715 RESOURCE-591 version updated and log keys added
  libraries/azure_key_vault.rb
Labels: azure

#714 Resource 592 Removing incomplete sentinel inspec azure resources
  README.md
  docs-chef-io/content/inspec/resources/azure_sentinel_alert_rule.md
  docs-chef-io/content/inspec/resources/azure_sentinel_alert_rule_template.md
  docs-chef-io/content/inspec/resources/azure_sentinel_alert_rule_templates.md
  docs-chef-io/content/inspec/resources/azure_sentinel_alert_rules.md
  docs-chef-io/content/inspec/resources/azure_sentinel_incidents_resource.md
  docs-chef-io/content/inspec/resources/azure_sentinel_incidents_resources.md
  libraries/azure_sentinel_alert_rule.rb
  libraries/azure_sentinel_alert_rule_template.rb
  libraries/azure_sentinel_alert_rule_templates.rb
  libraries/azure_sentinel_alert_rules.rb
  libraries/azure_sentinel_incidents_resource.rb
  libraries/azure_sentinel_incidents_resources.rb
  test/integration/verify/controls/azure_sentinel_alert_rule.rb
  test/integration/verify/controls/azure_sentinel_alert_rules.rb
  test/integration/verify/controls/azure_sentinel_incidents_resource.rb
  test/integration/verify/controls/azure_sentinel_incidents_resources.rb
  test/unit/resources/azure_sentinel_alert_rule_template_test.rb
  test/unit/resources/azure_sentinel_alert_rule_templates_test.rb
  test/unit/resources/azure_sentinel_alert_rule_test.rb
  test/unit/resources/azure_sentinel_alert_rules_test.rb
  test/unit/resources/azure_sentinel_incidents_resource_test.rb
  test/unit/resources/azure_sentinel_incidents_resources_test.rb
Labels: azure, tech-debt
